.gmaps-map-init{
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 0;
    border: 2px inset gray;
    background: url("../img/gmaps-icon.png");
    background-size: 300px 300px;
    background-repeat: no-repeat;
}